html {
	scroll-behavior: smooth;
}
body {
	background:url(https://images.wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg);
}
.navbar-nav > li:hover{
  transition: 0.4s all;
  background: #cc4a04;
}
.navbar-nav > li {
	border-radius: 10px;
}
.container {
	margin-bottom: 40px;
}
.box {
	overflow: hidden;
	position: relative;
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0 , 0 , 0 , 1);
	background: rgba(0 , 0 , 0 , 0.4);
	margin: 30px 20px 30px 20px;
	width: 90%;
}
.navbar {
	background: #ed5807;
}
.display-5 {
	border-radius: 20px;
	background:#06c70a;
	font-family: 'Grenze Gotisch', cursive;
    text-align: justify;
}
.text-capitalize {
	font-size: 18px;
	letter-spacing: 0px;
	text-align: justify;
	font-family: 'Lato', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Rowdies', cursive;
}
.Contact {
	font-family: 'Poppins', sans-serif;
}

.social-media {
	width: 100%;
	margin-bottom:10px;
}
.social-media a {
	width: 25%;
}
.social-media img {
	width: 60px;
	height: 60px;
	border-radius: 30% 30% 30% 30%;
}
.loginbox {
	display: none;
}
.login p {
	color : #42f5b6;
}
.attension {
	font-size: 22px;
	letter-spacing: 0px;
	text-align: justify;
	font-family: 'Rowdies', cursive;
}
